name: Build MultiEFI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Install dependencies
      run: |
        sudo apt update
        sudo apt install -y build-essential git gcc-multilib gnu-efi uuid-dev

    - name: Build x86_64 EFI
      run: |
        mkdir -p build/x64
        gcc -I /usr/include/efi -I /usr/include/efi/x86_64 -fpic -fshort-wchar -mno-red-zone -DEFI_FUNCTION_WRAPPER -c src/MultiEFI.c -o build/x64/MultiEFI.o
        ld -nostdlib -znocombreloc -shared -Bsymbolic -T /usr/lib/elf_x86_64_efi.lds build/x64/MultiEFI.o -o build/x64/bootx64.efi

    - name: Build i386 EFI
      run: |
        mkdir -p build/i386
        gcc -m32 -I /usr/include/efi -I /usr/include/efi/i386 -fpic -fshort-wchar -DEFI_FUNCTION_WRAPPER -c src/MultiEFI.c -o build/i386/MultiEFI.o
        ld -m elf_i386 -nostdlib -znocombreloc -shared -Bsymbolic -T /usr/lib/elf_i386_efi.lds build/i386/MultiEFI.o -o build/i386/bootia32.efi

    - name: Build ARM64 EFI
      run: |
       ls /usr/lib/gnu-efi/
        mkdir -p build/arm64
        aarch64-linux-gnu-gcc -I /usr/include/efi -I /usr/include/efi/aarch64 -fpic -fshort-wchar -DEFI_FUNCTION_WRAPPER -c src/MultiEFI.c -o build/arm64/MultiEFI.o
        aarch64-linux-gnu-ld -nostdlib -znocombreloc -shared -Bsymbolic -T /usr/lib/elf_aarch64_efi.lds build/arm64/MultiEFI.o -o build/arm64/bootaa64.efi

    - name: Upload Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: MultiEFI-Binaries
        path: build/
